<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Bootstrap CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
<!-- Font Awesome CSS -->
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css'>
<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>Genre</title>
</head>

<%-include("partials/navigation.ejs")%>


<br><br><br>

<form action="/review/edit" method="POST">

<div id="movieReview">

<br>

<input type="hidden" name="fReviewId" value="<%=review[0].reviewId%>">
         <h2>Updating Review</h2>
         <br>
         <textarea id="reviewBox" type="text"  placeholder="Write a review..." rows="4" cols="50" name="fReview" ><%=review[0].Review%> </textarea>
        <br>


        <input type="radio" name="rating" value="1"      <% if (review[0].Rating == 1)  { %>
       checked
     <% } %>
>
        <label for="1">1</label>

        <input type="radio" name="rating" value="2" 
        <% if (review[0].Rating == 2)  { %>
       checked
     <% } %>
        >
        <label for="2">2</label>
        <input type="radio" name="rating" value="3"
        <% if (review[0].Rating == 3)  { %>
       checked
     <% } %>
        >
        <label for="3">3</label>
        <input type="radio" name="rating" value="4" 
        <% if (review[0].Rating == 4)  { %>
       checked
     <% } %>
        >
        <label for="4">4</label>
        <input type="radio" name="rating" value="5"
        <% if (review[0].Rating == 5)  { %>
       checked
     <% } %>
        >
        <label for="5">5</label>
      
        <br><br>
        <button id="editButton">Submit </button>

</div>

</form>



<%-include("partials/signIn.ejs")%>

<script src="/js/script.js">
</script>

</body>
</html>